.groupInfoWrapper {
  .groupInfo {
    display: inline-block;
    width: 220px;
    margin-top: 16px;
    line-height: 40px;
    text-align: left;
    > div {
      position: relative;
      display: flex;
      border-bottom: 0.2px solid #eee;
      &:nth-child(5) {
        border-bottom: none;
      }
      > span {
        display: inline-block;
        &:nth-child(1) {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
        }
        &:nth-child(2) {
          position: relative;
          top: 2px;
          line-height: 40px;
        }
      }
    }
    .editNickName {
      position: relative;
      input {
        width: fit-content;
      }
    }
    .showInfo {
      margin-left: 11px;
    }
  }
}
