.registerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  .registerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 20px 80px 50px;
    color: #000;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.3);
    :global {
      .ant-form-item,
      .registerBtn {
        width: 300px;
        &:nth-child(4) {
          float: left;
          width: 160px;
          margin-right: 10px;
        }
      }
    }
    .clear {
      clear: both;
    }
    .logo {
      width: 110px;
      height: 110px;
      margin-bottom: 20px;
    }
  }
}
