.headerWrapper {
  display: flex;
  flex-direction: row;
  .left {
    position: relative;
    width: 266px;
  }
  .middle {
    flex: auto;
    text-align: center;
  }
  :global {
    .ant-input-search {
      position: absolute;
      top: 18px;
      width: 210px;
      border-radius: 24px;
    }
    .ant-btn-circle {
      position: absolute;
      top: 21px;
      right: 0;
      margin: auto 16px;
      color: gray;
    }
    .ant-menu-item,
    .ant-menu-item:hover {
      border-bottom: none;
    }
  }
}
.siderChatWrapper {
  position: relative;
  height: 100%;
  // chrome Safari
  &::-webkit-scrollbar {
    width: 0 !important;
  }
  // IE 10+
  -ms-overflow-style: none;
  // FireFox
  overflow: -moz-scrollbars-none;
  overflow-x: hidden;
  overflow-y: auto;
  :global {
    .ant-card-body {
      height: 56px;
    }
    .anticon-close {
      position: absolute;
      top: 23px;
      left: 2px;
      font-size: 12px;
      &:hover {
        color: #1890ff;
      }
    }
    .ant-avatar {
      position: absolute;
      left: 16px;
    }
    .ant-badge {
      position: absolute;
      top: 30px;
      right: 8px;
    }
  }
  .nikeName {
    position: absolute;
    top: 8px;
    left: 60px;
    width: 154px;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .latestChat {
    position: absolute;
    top: 30px;
    left: 60px;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  .latestTime {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
.contentChatWrapper {
  height: 100%;
  :global {
    .ant-empty {
      line-height: 80vh;
    }
  }
}
.siderListWrapper {
  // margin: 24px;
  display: flex;
  flex-direction: column;
  height: 100%;
  // 添加好友
  .addFriend {
    width: 100%;
  }
  // 群聊
  .title {
    margin: 10px 0;
    color: grey;
    font-size: 12px;
  }
  // 群组
  .group {
    position: relative;
    min-height: 24px;
    cursor: pointer;
    :global {
      .anticon-right {
        display: inline-block;
        height: 14px;
        margin-right: 6px;
        font-size: 12px;
        line-height: 14px;
      }
      .ant-card {
        // background-color: green;
        position: relative;
        left: -25px;
        width: 280px;
        .ant-avatar {
          left: 8px;
        }
      }
    }
    .treeParentName {
      font-weight: bold;
    }
    .count {
      position: absolute;
      top: 0;
      right: 0;
      color: grey;
      font-size: 12px;
    }
    .nikeName {
      position: absolute;
      top: 10px;
      left: 62px;
      width: 200px;
      overflow: hidden;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
    .sign {
      position: absolute;
      top: 30px;
      left: 62px;
      width: 200px;
      overflow: hidden;
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
  .top {
    margin: 24px 24px 0;
  }
  .scrollBottom {
    flex: 1;
    padding: 24px;
    // chrome Safari
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    // IE 10+
    -ms-overflow-style: none;
    // FireFox
    overflow: -moz-scrollbars-none;
    // border: 1px solid green;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.contentListWrapper {
  height: 100%;
  :global {
    .ant-empty {
      line-height: 80vh;
    }
  }
}
