:global {
  .addModal {
    .ant-modal-body {
      padding: 0;
      .ant-input-search {
        width: 272px;
        margin: 12px 24px;
        border-radius: 20px;
      }
      .searchResult {
        max-height: 389px;
        overflow: auto;
        background-color: #fff;
        .ant-empty {
          margin: 80px auto;
        }
        .title {
          position: sticky;
          top: 0;
          z-index: 1;
          padding: 10px 24px;
          background-color: #fff;
          border-bottom: 1px solid #aaa;
        }
        .listItem {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 40px;
          padding: 0 10px;
          .ant-avatar {
            margin-right: 10px;
          }
          .userInfo {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
          }
          .addBtn {
            color: #aaa;
            font-size: 14px;
            .anticon {
              font-size: 18px;
              line-height: 40px;
              text-align: center;
              cursor: pointer;
              &:hover {
                color: #1890ff;
              }
            }
          }
        }
      }
    }
  }
  .applyModal {
    .ant-avatar {
      margin-right: 8px;
    }
    .reason {
      margin-top: 10px;
      textarea {
        resize: none;
      }
      .title {
        line-height: 32px;
      }
    }
    .ant-modal-footer {
      text-align: center;
    }
  }
}
